<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="img/favicon.png" alt="Logo">
                GP
            </a>
        </div>
        <div class="nav-toggle" id="navToggle">
            <span></span><span></span><span></span>
        </div>
        <ul class="nav-menu">
            <li><a href="research.html">Research</a></li>
            <li><a href="publications.html">Publications</a></li>
            <li><a href="outreach.html">Outreach</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li>
                <button id="themeToggleBtn" class="theme-toggle-btn" aria-label="Toggle Dark Mode">
                    <i class="fas fa-moon"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>